Repository dkfz-unite/event-matrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, eslint, npm-test, npm-outdated

markdownlint:
  name: markdownlint
  entry: markdownlint -c ./.markdownlint.yaml --ignore node_modules/ .
  language: system
  always_run: false
  pass_filenames: true

yamllint:
  name: yamllint
  entry: yamllint --config-file ./.yamllint --strict
  language: system
  always_run: false
  pass_filenames: true

eslint:
  name: eslint
  entry: env NODE_ENV=test eslint --ext .js,.jsx,.ts,.tsx
  language: system
  always_run: false
  pass_filenames: true

npm-test:
  name: npm-test
  entry: npm test
  language: system
  always_run: false
  pass_filenames: false

npm-outdated:
  name: npm-outdated
  entry: bash -c 'npm outdated || true' --
  verbose: true
  language: system
  always_run: false
  pass_filenames: false

pre-commit conf typo
  .pre-commit-config.yaml
Due: yamllint

refactoring: add types hack, remove unused functions, clean u updates in package.json
  dist/event-matrix.es.js
  dist/event-matrix.es.js.map
  dist/event-matrix.umd.js
  dist/event-matrix.umd.js.map
  package-lock.json
  package.json
  src/classes/MainGrid.ts
Due: eslint, npm-test, npm-outdated

feature: update readme
  README.md
Due: markdownlint

feat: Github Actions, Nodejs
  .github/workflows/nodejs.yml
Due: yamllint

feat: Github Actions, ubuntu-latest
  .github/workflows/nodejs.yml
Due: yamllint

feat: Github Actions, ignore npm-outdated
  .github/workflows/nodejs.yml
Due: yamllint

feat: Github Actions, eslint
  .github/workflows/nodejs.yml
  package.json
Due: yamllint

feat: Github Actions, npm test:coverage typo
  .github/workflows/nodejs.yml
Due: yamllint

feat: Github Actions, npm lint:report-disabled
  .github/workflows/nodejs.yml
  .pre-commit-config.yaml
  package.json
  src/classes/Histogram.ts
Due: yamllint, eslint, npm-test, npm-outdated

feat: linters, MD & YAML
  .github/workflows/ci.yml
Due: yamllint

feat: coveralls TODO
  .github/workflows/ci.yml
Due: yamllint

chore: eslint & jest version bump
  package-lock.json
  package.json
Due: none

feat: linters, show version
  .github/workflows/ci.yml
Due: yamllint

wip
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

fix: filter entries on layer set
  src/classes/MainGrid.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

update version
  package.json
Due: none

wip
  src/classes/data/Processing.ts
  src/interfaces/main-grid.interface.ts
Due: eslint, npm-test, npm-outdated

feature: processing, matrix and frame basic entity
  src/classes/data/Processing.ts
  src/interfaces/main-grid.interface.ts
Due: eslint, npm-test, npm-outdated

tests wip
  src/tests/classes/data/Processing.test.ts
Due: eslint, npm-test, npm-outdated

feature: tests for Processing class
  src/classes/data/Processing.ts
  src/tests/classes/data/Processing.test.ts
Due: eslint, npm-test, npm-outdated

add frame entity, big refactoring, wip
  .eslintrc
  src/classes/EventMatrix.ts
  src/classes/data/Frame.ts
  src/classes/data/Processing.ts
  src/classes/rendering/GridRender.ts
  src/interfaces/base.interface.ts
  src/interfaces/bioinformatics.interface.ts
  src/interfaces/main-grid.interface.ts
  src/tests/classes/data/Processing.test.ts
  src/tests/utils/storage.test.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

feature: grid render functionality
  src/classes/EventMatrix.ts
  src/classes/data/Processing.ts
  src/classes/rendering/GridRender.ts
Due: eslint, npm-test, npm-outdated

refactoring: update matrix structure, new rendering logics
  src/classes/data/Processing.ts
  src/classes/rendering/GridRender.ts
  src/interfaces/main-grid.interface.ts
Due: eslint, npm-test, npm-outdated

feature: split rendering functionality on a few renderers
  src/classes/EventMatrix.ts
  src/classes/rendering/GridCellsRender.ts
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/GridRowsRender.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

fix: array size calculation
  src/classes/data/Processing.ts
  src/classes/rendering/GridRender.ts
Due: eslint, npm-test, npm-outdated

fix: bugs and typos, change cell and rows tags to svg
  src/classes/rendering/GridCellsRender.ts
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/GridRowsRender.ts
Due: eslint, npm-test, npm-outdated

debug and refactoring, wip
  src/classes/EventMatrix.ts
  src/classes/rendering/GridCellsRender.ts
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/GridRowsRender.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

fix: rows label shift, styling fixes
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/GridRowsRender.ts
Due: eslint, npm-test, npm-outdated

feature: add grid renderer
  src/classes/rendering/GridLinesRender.ts
  src/classes/rendering/GridRender.ts
Due: eslint, npm-test, npm-outdated

fix: broken rerendering
  src/classes/EventMatrix.ts
  src/classes/data/Processing.ts
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridLinesRender.ts
  src/classes/rendering/GridRender.ts
  src/interfaces/main-grid.interface.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

feature: filtration system, fix various bugs
  src/classes/data/Processing.ts
  src/classes/rendering/GridCellsRender.ts
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/GridRowsRender.ts
Due: eslint, npm-test, npm-outdated

feature: add crosshair renderer, wip
  src/classes/EventMatrix.ts
  src/classes/rendering/CrosshairRender.ts
  src/classes/rendering/GridRender.ts
Due: eslint, npm-test, npm-outdated

feature: crosshair selected region and update event
  src/classes/EventMatrix.ts
  src/classes/rendering/CrosshairRender.ts
  src/classes/rendering/GridRender.ts
Due: eslint, npm-test, npm-outdated

bugfix: resolve zoom problem
  src/classes/EventMatrix.ts
  src/classes/rendering/GridCellsRender.ts
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/GridRowsRender.ts
Due: eslint, npm-test, npm-outdated

bugfix: fixed zoomed cells height
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridRowsRender.ts
Due: eslint, npm-test, npm-outdated

bugfix: zoom-in-zoom problem
  src/classes/data/Frame.ts
  src/classes/data/Processing.ts
Due: eslint, npm-test, npm-outdated

feature: frame movement
  src/classes/EventMatrix.ts
Due: eslint, npm-test, npm-outdated

feature: frame zoom increment decrement
  src/classes/EventMatrix.ts
Due: eslint, npm-test, npm-outdated

bugfix: solve a bunch of rendering bugs, chrome compatability issues and transition animation bugs...
  src/classes/data/Processing.ts
  src/classes/rendering/CrosshairRender.ts
  src/classes/rendering/GridEntriesRender.ts
  src/classes/rendering/GridLinesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/GridRowsRender.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

feature: add columns sorting
  src/classes/data/Processing.ts
  src/classes/rendering/GridRowsRender.ts
Due: eslint, npm-test, npm-outdated

Path conditions:
  markdownlint: any of: .*\.md$
  yamllint: any of: .*\.(yaml|yml|yamllint)$
  eslint: any of: .*\.(js|jsx|ts|tsx)$
  npm-test: any of: .*\.(js|jsx|ts|tsx)$
  npm-outdated: any of: .*\.(js|jsx|ts|tsx)$
