Repository dkfz-unite/event-matrix: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint, eslint, npm-test, npm-outdated

.pre-commit-config.yaml:

---
# run `brew install pre-commit && pre-commit install` for automatic configuration.

default_stages: [pre-commit, pre-push]
fail_fast: false

# TODO:
#   depcheck --ignores <... if any>

repos:
  - repo: local
    hooks:
      # MD
      # brew install markdownlint-cli
      - id: markdownlint
        name: markdownlint
        files: .*\.md$
        entry: markdownlint -c ./.markdownlint.yaml --ignore node_modules/ .
        language: system
        always_run: false
        pass_filenames: true

      # YAML
      # brew install yamllint
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml|yamllint)$
        entry: yamllint --config-file ./.yamllint --strict
        language: system
        always_run: false
        pass_filenames: true

      #
      # JS
      - id: eslint
        name: eslint
        files: .*\.(js|jsx|ts|tsx)$
        entry: env NODE_ENV=test eslint --ext .js,.jsx,.ts,.tsx
        language: system
        always_run: false
        pass_filenames: true

      - id: npm-audit
        name: npm-audit
        entry: npm audit
        language: system
        always_run: true
        # files: .*\.(js|jsx|ts|tsx)$
        # pass_filenames: false

      - id: npm-test
        name: npm-test
        entry: npm test
        language: system
        always_run: false
        files: .*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: npm-outdated
        name: npm-outdated
        files: .*\.(js|jsx|ts|tsx)$
        # XXX: run dependency version checks but do not fail
        # entry: npm outdated
        entry: bash -c 'npm outdated || true' --
        verbose: true # forces the output to be printed for the passed hook
        language: system
        always_run: false
        pass_filenames: false


      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

fix: update version
  package.json
Due: none

fix: grid lines toggler not working
  src/classes/EventMatrix.ts
  src/classes/rendering/GridLinesRender.ts
  src/classes/rendering/GridRender.ts
Due: eslint, npm-test, npm-outdated

feat: refactoring, clean up, move grid dimensions to storage class
  src/classes/EventMatrix.ts
  src/classes/data/Processing.ts
  src/classes/rendering/CrosshairRender.ts
  src/classes/rendering/GridLinesRender.ts
  src/classes/rendering/GridRender.ts
  src/classes/rendering/descriptions/bottom/BottomDescriptionGroupsRender.ts
  src/classes/rendering/descriptions/bottom/BottomDescriptionRender.ts
  src/classes/rendering/descriptions/side/SideDescriptionGroupsRender.ts
  src/classes/rendering/descriptions/side/SideDescriptionRender.ts
  src/classes/rendering/histograms/side/SideHistogramAxisRender.ts
  src/classes/rendering/histograms/side/SideHistogramRender.ts
  src/classes/rendering/histograms/top/TopHistogramAxisRender.ts
  src/classes/rendering/histograms/top/TopHistogramRender.ts
  src/interfaces/main-grid.interface.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

feat: refactoring grid structure
  src/classes/EventMatrix.ts
  src/classes/rendering/grid/GridCellsRender.ts
  src/classes/rendering/grid/GridEntriesRender.ts
  src/classes/rendering/grid/GridRender.ts
  src/classes/rendering/grid/GridRowsRender.ts
  src/classes/rendering/grid/crosshair/CrosshairRender.ts
  src/classes/rendering/grid/lines/GridLinesRender.ts
Due: eslint, npm-test, npm-outdated

feat: update config structure
  README.md
  src/classes/EventMatrix.ts
  src/interfaces/main-grid.interface.ts
  src/utils/storage.ts
Due: markdownlint, eslint, npm-test, npm-outdated

fix: add option to disable description or histogram rendering
  src/classes/EventMatrix.ts
Due: eslint, npm-test, npm-outdated

feat: update README
  README.md
  package.json
  src/classes/EventMatrix.ts
Due: markdownlint, eslint, npm-test, npm-outdated

fix ts error
  src/interfaces/main-grid.interface.ts
Due: eslint, npm-test, npm-outdated

fix: tests
  src/classes/data/Processing.ts
  src/interfaces/base.interface.ts
  src/interfaces/main-grid.interface.ts
  src/interfaces/matrix.interface.ts
  src/tests/classes/data/Processing.test.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

apply security fix
  package-lock.json
  package.json
Due: none

fix: readme config
  README.md
Due: markdownlint

fix: description blocks rendering issue in Chromium
  src/classes/data/Processing.ts
  src/classes/rendering/descriptions/bottom/BottomDescriptionFieldsRender.ts
  src/classes/rendering/descriptions/bottom/BottomDescriptionGroupsRender.ts
  src/classes/rendering/descriptions/side/SideDescriptionFieldsRender.ts
  src/classes/rendering/descriptions/side/SideDescriptionGroupsRender.ts
  src/interfaces/matrix.interface.ts
Due: eslint, npm-test, npm-outdated

fix: side description block not zooming properly
  package.json
  src/classes/rendering/descriptions/side/SideDescriptionCellsRender.ts
Due: eslint, npm-test, npm-outdated

feat: tests for Frame class
  src/tests/classes/data/Frame.test.ts
Due: eslint, npm-test, npm-outdated

feat: additional test for Processing
  src/tests/classes/data/Processing.test.ts
Due: eslint, npm-test, npm-outdated

feat: Processing tests
  src/classes/data/Processing.ts
  src/tests/classes/data/Processing.test.ts
Due: eslint, npm-test, npm-outdated

fix vulnerability
  package-lock.json
Due: none

feat: update data basic functions
  src/classes/EventMatrix.ts
  src/classes/data/Processing.ts
  src/classes/dtos/ProcessingDataDTO.ts
  src/interfaces/main-grid.interface.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

update version
  package.json
Due: none

feature: update renderers dimensions after changing set
  package.json
  src/classes/EventMatrix.ts
  src/classes/rendering/descriptions/bottom/BottomDescriptionRender.ts
  src/classes/rendering/descriptions/side/SideDescriptionRender.ts
  src/classes/rendering/grid/GridRender.ts
  src/classes/rendering/histograms/side/SideHistogramRender.ts
  src/classes/rendering/histograms/top/TopHistogramRender.ts
  src/utils/storage.ts
Due: eslint, npm-test, npm-outdated

fix: tests
  src/classes/EventMatrix.ts
  src/classes/dtos/ProcessingDataDTO.ts
Due: eslint, npm-test, npm-outdated

feat: rename Description to Tracks
  README.md
  src/classes/EventMatrix.ts
  src/classes/data/Processing.ts
  src/classes/rendering/tracks/bottom/BottomTracksCellsRender.ts
  src/classes/rendering/tracks/bottom/BottomTracksFieldsRender.ts
  src/classes/rendering/tracks/bottom/BottomTracksGroupsRender.ts
  src/classes/rendering/tracks/bottom/BottomTracksRender.ts
  src/classes/rendering/tracks/side/SideTracksCellsRender.ts
  src/classes/rendering/tracks/side/SideTracksFieldsRender.ts
  src/classes/rendering/tracks/side/SideTracksGroupsRender.ts
  src/classes/rendering/tracks/side/SideTracksRender.ts
  src/interfaces/main-grid.interface.ts
  src/interfaces/matrix.interface.ts
  src/utils/event-bus.ts
  src/utils/storage.ts
Due: markdownlint, eslint, npm-test, npm-outdated

feat: update tracks option
  src/classes/dtos/ProcessingDataDTO.ts
  src/interfaces/main-grid.interface.ts
Due: eslint, npm-test, npm-outdated

feat: add grid resize support
  src/classes/EventMatrix.ts
  src/classes/rendering/grid/GridRender.ts
  src/classes/rendering/grid/crosshair/CrosshairRender.ts
  src/classes/rendering/grid/lines/GridLinesRender.ts
Due: eslint, npm-test, npm-outdated

remove donors and genes legacy mentions
  src/classes/EventMatrix.ts
  src/classes/data/Processing.ts
  src/classes/dtos/ProcessingDataDTO.ts
  src/classes/rendering/grid/GridCellsRender.ts
  src/classes/rendering/grid/GridRender.ts
  src/classes/rendering/grid/GridRowsRender.ts
  src/classes/rendering/grid/crosshair/CrosshairRender.ts
  src/classes/rendering/grid/lines/GridLinesRender.ts
  src/interfaces/main-grid.interface.ts
Due: eslint, npm-test, npm-outdated

node audit fix
  package-lock.json
Due: none

node audit fix
  package-lock.json
  package.json
Due: none

wip
  src/classes/rendering/histograms/side/SideHistogramRender.ts
Due: eslint, npm-test, npm-outdated

fix: broken renderer
  src/classes/EventMatrix.ts
  src/classes/rendering/tracks/side/SideTracksRender.ts
Due: eslint, npm-test, npm-outdated
